body {
    /* background-color: #FF00FF; */
    background:
    radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
    radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
    radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
    radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
    radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
    radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
    radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
    radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
    linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
    linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
    background-color: #300; 
    background-size: 100px 100px;
}

.container {
    /* background: orange; */
    background-color: #fff; 
    background-image: 
    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
    linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
    border: 3px solid orange;
    height: 600px;
    margin-left: 220px;
    width: 900px;
}

#lastRow {
    margin-left: 250px;
}

.row1, .row2, .row3, .row4 {
    font-family:'Britannic Bold';
    text-align: center;
    font-size: 20px;
}

.row2, .row3 {
    margin-bottom: 100px;
    position: relative;
}

#answer1, #answer2, #answer3 {
    margin-bottom: 50%;
}

.scoreBoard {
    color: white;
    font-size: 30px;
    font-family:'Britannic Bold';
    left: 0;
    line-height: 50px;
    margin: auto;
    margin-top: -100px;
    margin-left: 350px;
    position: absolute;
    top: 50%;
    width: 100%;
}